@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Random passcode (passcode #
    @Model
    )
</h1>
<div class="randNum">
    <h1>
        @ViewBag.RandomString
    </h1>
</div>
<a href="generate" class="btn btn-primary btn-lg" role="button">Generate</a>
